.btn {
  @apply py-2 px-4 cursor-pointer;
}
.title-about {
  @apply relative text-xl lg:text-4xl mb-2 font-semibold after:content-[''] after:block after:h-1 after:bg-tertiary after:-mt-1.5;
}
.text-about {
  @apply lg:text-lg;
}
.title-section {
  @apply text-center text-[45px] md:text-6xl font-bold tracking-tight mb-6;
}
@layer utilities {
}
