.btn {
  @apply py-2 px-4 cursor-pointer;
}
@layer utilities {
  .bg-gemini-gradient,
  .text-gemini-gradient {
    background: linear-gradient(
      74deg,
      var(--color-brand-gradient-stop-1) 0,
      var(--color-brand-gradient-stop-2) 45%,
      var(--color-brand-gradient-stop-3) 100%
    );
  }
  .text-gemini-gradient {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  .icon-gemini-gradient {
    background: linear-gradient(
      74deg,
      var(--color-brand-gradient-stop-1) 0%,
      var(--color-brand-gradient-stop-2) 45%,
      var(--color-brand-gradient-stop-3) 100%
    );

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    /* Importante para que los SVG puedan usar el gradient */
    -webkit-text-fill-color: transparent;
  }
  .btn-transition {
    transition: background 0.5s ease, background-position 0.5s ease,
      transform 0.5s ease;
  }
  .hover\:btn-transition:hover {
    transform: scale(1.05);
  }
  .animate-gradient {
    background-size: 200% 200%;
    animation: geminiGradientMove 4s ease infinite;
  }
  .animate-loading {
    animation: loading 1s infinite;
    transition: all 0.5s;
  }
  .rotate-y-0 {
    transform: rotateY(0deg);
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  @keyframes geminiGradientMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
