/**
Con esto de debajo así de sencillo ahora se hace el Layout. Header arriba, contenido y footer pegado debajo.
*/
.app-container {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}
.navigator .link {
  font-size: 2rem;
}
.hamburguer-btn {
  width: 25px;
  line-height: 0;
}
.hamburguer-btn .line-hamburguer-btn {
  display: inline-block;
  height: 2px;
  width: 100%;
  transition: 0.3s;
}
.hamburguer-btn.opened .line-hamburguer-btn:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburguer-btn.opened .line-hamburguer-btn:nth-child(2),
.hamburguer-btn.opened .line-hamburguer-btn:nth-child(3) {
  opacity: 0;
}
.hamburguer-btn.opened .line-hamburguer-btn:nth-child(4) {
  transform: rotate(-45deg) translate(10px, -10px);
}
